.container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 20px;
    
}
.card-container{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.details-container{
    position: sticky;
}